@import "tailwindcss";

@theme inline {
	--font-grotesk: var(--font-grotesk);
	--color-primary: #241426;
	--color-bgBlack: #011228;
	--color-secondary: #ffde59;
	--color-textBlack: #1e1e1e;
	--color-textGray: #505050;
	--breakpoint-lgxl: 1281px;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
